body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-top: 54px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #f90;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  background-color: #fff;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  padding: 80px 10px;
  background-color: #fff;
  text-align: center;
}

.section.accent {
  background-color: #192024;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  padding-top: 195px;
  padding-bottom: 195px;
  border-bottom: 4px solid #69b9ff;
  background-image: -webkit-linear-gradient(270deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/LandingPage_photo.jpg');
  background-image: linear-gradient(180deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/LandingPage_photo.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  text-align: center;
}

.hero-heading {
  margin-bottom: 30px;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
}

.section-title-group {
  margin-bottom: 60px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 40% 35% 40% 40%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.info-icon {
  float: left;
  background-color: #69b9ff;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.subpage-header {
  padding-top: 190px;
  padding-bottom: 90px;
  background-image: -webkit-linear-gradient(270deg, rgba(31, 111, 255, .9), rgba(31, 111, 255, .9)), url('../images/Photo-5.jpg');
  background-image: linear-gradient(180deg, rgba(31, 111, 255, .9), rgba(31, 111, 255, .9)), url('../images/Photo-5.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
}

.subpage-header.pricing-3 {
  background-image: url('../images/LandingPage_photo.jpg');
  background-position: 50% 50%;
  background-size: 2000px;
}

.container {
  position: relative;
}

.subpage-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  line-height: 40px;
  font-weight: 400;
}

.page-subtitle {
  display: block;
  width: 65%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
}

.large-pricing-title {
  margin-bottom: 4px;
  text-transform: uppercase;
}

.large-pricing-title.price {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 50px;
  font-weight: 300;
}

.section-2 {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.section-2.pricing-section {
  padding-bottom: 160px;
}

.pricing-list-icon {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 15px;
}

.pricing-feature-list-item {
  position: relative;
  margin-bottom: 6px;
  padding-left: 26px;
}

.button-2 {
  margin-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 3px;
  background-color: #1f6fff;
  -webkit-transition: background-color 200ms ease, background-position 200ms ease, color 200ms ease, border 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, background-position 200ms ease, color 200ms ease, border 200ms ease, box-shadow 200ms ease;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #0b4fc9;
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, .3);
  color: #fff;
}

.button-2.green {
  background-color: #f90;
  -webkit-transition: background-color 200ms ease, background-position 200ms ease, color 200ms ease, border 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, background-position 200ms ease, color 200ms ease, border 200ms ease, box-shadow 200ms ease;
}

.button-2.green:hover {
  background-color: #6fdd53;
}

.pricing-list-title {
  line-height: 21px;
  font-weight: 300;
}

.large-pricing-icon {
  height: 50px;
  margin-bottom: 20px;
}

.large-pricing-block {
  padding-right: 51px;
  border-right: 2px solid #e4e4e4;
}

.large-pricing-block._2 {
  padding-right: 0px;
  padding-left: 50px;
  border-right-width: 0px;
}

.pricing-features-list {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 0px;
  float: left;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000001, 0.6000000000000001);
  -ms-transform: scale(0.6000000000000001, 0.6000000000000001);
  transform: scale(0.6000000000000001, 0.6000000000000001);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

@media (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, .52);
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #3b99d9;
  }
  .navigation-menu {
    background-color: #3b99d9;
  }
  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
  .subpage-header {
    padding: 140px 45px 60px;
  }
  .page-subtitle {
    width: 80%;
  }
  .section-2 {
    padding: 45px;
  }
  .section-2.pricing-section {
    padding-bottom: 180px;
  }
  .pricing-column-left {
    padding-left: 0px;
  }
  .pricing-list-title {
    font-size: 11px;
    line-height: 18px;
  }
  .large-pricing-block {
    padding-right: 30px;
  }
  .large-pricing-block._2 {
    padding-left: 30px;
  }
  .pricing-column-right {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .button.tab {
    font-size: 12px;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }
  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .hero-subheading {
    font-size: 18px;
  }
  .form-field.text-area {
    display: block;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .spc {
    margin-bottom: 30px;
  }
  .subpage-header {
    padding: 110px 25px 40px;
  }
  .subpage-title {
    font-size: 30px;
  }
  .page-subtitle {
    width: 100%;
    margin-top: 10px;
  }
  .large-pricing-title.price {
    font-size: 34px;
    line-height: 40px;
  }
  .section-2 {
    padding: 25px;
  }
  .section-2.pricing-section {
    padding-bottom: 130px;
  }
  .pricing-list-title {
    font-size: 13px;
    line-height: 20px;
  }
  .large-pricing-icon {
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
  }
  .large-pricing-block {
    padding-right: 0px;
    border-right-style: none;
    border-right-width: 0px;
  }
  .large-pricing-block._2 {
    padding-left: 0px;
  }
  .pricing-features-list {
    margin-top: 10px;
  }
  .pricing-column-right {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .grid-image {
    width: 35%;
  }
  .subpage-header {
    padding-top: 90px;
    padding-bottom: 20px;
  }
  .subpage-title {
    font-size: 20px;
    line-height: 20px;
  }
  .page-subtitle {
    margin-top: 10px;
    font-size: 15px;
    line-height: 23px;
  }
  .large-pricing-title {
    font-size: 12px;
  }
  .large-pricing-title.price {
    line-height: 30px;
  }
  .section-2 {
    padding: 25px;
  }
  .section-2.pricing-section {
    padding-bottom: 120px;
  }
  .pricing-list-icon {
    top: 2px;
    width: 13px;
  }
  .button-2 {
    margin-top: 10px;
    padding-right: 19px;
    padding-left: 19px;
    font-size: 11px;
    line-height: 21px;
  }
  .pricing-list-title {
    line-height: 17px;
  }
  .large-pricing-icon {
    margin-right: 10px;
  }
  .pricing-features-list {
    width: 100%;
    margin-top: 1px;
  }
  .pricing-column-right {
    padding-bottom: 15px;
  }
}

